


.exploreFrontImage{
    object-fit: cover;
    width: 100%;height: 400px;
}
      
.categoryReelContainer{
    margin: 50px;
}

.exploreMain{
    background-color:#e76f51;
    display: flex;
}

.exploreLeft{
    background-color: #2a9d8f;
    flex: 3;
}

.exploreRight{
    background-color: #264653;
    flex:9;
}
        
      

